/* NORMALIZATION & ROOT VARIABLES */

html {
	height: 100%;
	font-size: 16px;
	/* -ms-scrollbar-base-color:red red red; */
}

* { box-sizing: border-box; margin: 0; padding: 0; border: 0;
	font-size: 100%; font: inherit; vertical-align: baseline; 
	/* FILL BORDER UNDER THIS CONFIG =====> 
	[=====> border: 1rem solid transparent ; */
}

:root {

	--doi-font-primary: Arial, Helvetica, 'Myriad Pro', Verdana;
	--doi-font-secondary: 'Times New Roman', 'Minion Pro', Georgia, TIMES;

	--doi-font-normal: normal;
	--doi-font-italic: italic;
	--doi-font-bold: bold;

	--doi-blue: #004185; 
	--doi-red: #D71921; /* rgb(from var(--doi-red) calc(r + 40) calc(g + 40) b) */
	--doi-yellow: #F3D9D1;
	--doi-white: #FFFFFF;
	--doi-black: #231F20; /* rgb(from var(--doi-black) r g b / 50%); */

	--doi-blue-rgb: rgb(0,65,133);
	--doi-red-rgb: rgb(215,25,33);
	--doi-yellow-rgb: rgb(251,227,90);
	--doi-white-rgb: rgb(255,255,255);
	--doi-black-rgb: rgb(35,31,32);

	--red: 28;
 	--green: 150;
  	--blue: 130;

  	--accessible-color: calc((((
			(var(--red) * 299) +
			(var(--green) * 587) +
			(var(--blue) * 114)
				) / 1000
			) - 128
		) * -1000
	);
}


body {
	height: 100%;
	font-family: var(--doi-font-primary);
	color: var(--doi-white);
	background-color: var(--doi-blue);
}

a {
	color: var(--doi-white);
	text-decoration: none;

	background-image: transparent;
	background-size: 0% 5%;
	background-position: 0 88%;
	background-repeat: no-repeat;
	background-image: linear-gradient(120deg, #f59b60 0%, #a1dbf8 100%);
}
a:hover {
	color: var(--doi-yellow);
	background-image: linear-gradient(yellow, orange);
	background-size: 100% 5%;
	transition: background-size 0.2s ease-in;
}

ul {
	list-style-type: '✓ ';
	list-style-position: inside;
	text-indent: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--doi-font-primary);
	font-weight: var(--doi-font-bold);
	color: var(--doi-yellow-rgb);
}

#ncco-title {
	user-select: none;
	font-size: 2rem;
	font-weight: var(--doi-font-bold);
	color: var(--doi-red);
}
#ncco-title-description {
	font-style: var(--doi-font-italic);
	font-size: 1rem;
	/* border: 0.1rem dotted var(--doi-red); */
	flex: 1;
	align-content: right;
	justify-content: right;
	text-align: right;
}
#ncco-title-description::after {
	content: normal "\00A0" ;
}
#nc-flag {
	width: 5rem;	
	height: 3rem;
}
:nth-child(-n + 3 of path):hover {
	animation: linear 0.2s forwards glistenOn;
}
:nth-child(-n + 3 of path):not(:hover) {
	animation: linear 0.2s forwards glistenOff;
}



.navigation {
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 3rem;

	width: 100%;
	/* background-color: var(--doi-black); */
	background-image: linear-gradient(
		var(--doi-black),
		rgb(from var(--doi-black) calc(r + 3) calc(g + 5) b)
	);
}

.navigation-link {
	background-color: rgb(from var(--doi-black) r g b / 50%);
	border: 0.5rem double transparent;

	/* background-clip: transparent; */
}


.page-col-grid {
	display: flex;
	flex: auto; /* === flex-grow & flex-shrink & flex-basis */
	flex-flow: column nowrap; /* === flex-direction & flex-wrap */
	/* outline: 0.1rem dotted lightsalmon; */
}

.page-row-grid {
	display: flex;
	flex: auto; /* === flex-grow & flex-shrink & flex-basis */
	flex-flow: row wrap; /* === flex-direction & flex-wrap */
	/* outline: 0.1rem dotted lightgreen; */
}

.page-item {
	flex: 1;
	background-color: rgb(from var(--doi-black) r g b / 50%);
	min-width: 15rem;
	min-height: 10rem;
	border: 0.5rem double var(--doi-red-rgb);
	outline: 0.2rem solid var(--doi-red-rgb);
	margin: 3rem;
	padding: 1rem;
}

.page-item:not(:hover) {
	transition: border-color 0.3s ease-out;
}

.page-button-like {
	border-color: blueviolet;
	transition: border-color 0.6s ease-in;
	animation-name: groovymove;
	animation-duration: 0.6s;
	animation-iteration-count: initial;
}


@keyframes groovymove {
	33% {
		outline-width: 0.2rem;
		/* background-color: rgb(from var(--doi-black) r g b / 55%); */

	}
	66% {
		outline-width: 0.1rem;
		/* background-color: rgb(from var(--doi-black) r g b / 60%); */

	}
	100% {
		outline-width: 0.2rem;
		/* background-color: rgb(from var(--doi-black) r g b / 65%); */

		/* text-shadow: -5px -2px 0px rgb(112, 12, 170); */
	}	
}
@keyframes sectionsizer { 
	from {
		background-size: 100% 10%;
		background-position: 0% 100%;
	}
	to {
		background-size: 0% 0%;
		background-position: 100% 100%;
	}
}
@keyframes svgdo {
	0% {
		fill-opacity: 1;
	}
	25% {
		fill-opacity: 0.8;
	}
	50% {
		fill-opacity: 0.6
	}
	75% {
		fill-opacity: 0.8;
	}
	100% {
		fill-opacity: 1;
	}
}
@keyframes glistenOn {
	0% {
		fill-opacity: 1;
		
	}
	100% {

		fill-opacity: 0.6;
	}
}
@keyframes glistenOff {
	0% {
		fill-opacity: 0.6;
	}
	100% {

		fill-opacity: 1;
	}
}


footer {
	/* outline: 0.1rem dotted lightskyblue; */
	z-index: 75;
	bottom: 0;
	/* width: 100%; */
	background-color: var(--doi-black);
	font-family: var(--doi-font-secondary);
	font-style: var(--doi-font-italic);
}



.footer-col {
	display: flex;
	margin: 1%;
	/* outline: 0.4rem dotted ; */

}

#footer-info {
	flex: 0.8;
}

#footer-signature {
	flex: 0.2;
	width: 10rem;
	height: 10rem;
	opacity: 0.1;
}

#footer-signature > img {
	width: 100%;
	height: 100%;
}



/* ---------- LIFECRAFT FIELD VALUES ---------- */

.calendar-month {
	display: inline-block;
	font-size: 0.7rem;
	width: 10rem;
	height: 10rem;
	border-radius: 0.5rem;
	border: 0.1rem solid var(--clr-tertiary);
	color: var(--clr-tertiary);
	overflow: visible;
}

.calendar-date {
	display: inline-block;
	text-align: center;
	font-size: 0.7rem;
	width: 1.5rem;
	height: 1.2rem;
	padding-top: 0.2rem;
	/* border-radius: 0.5rem; */
	/* margin: 0.1rem; */
	border: 0.1rem solid var(--doi-black);
	color: var(--doi-white);
	overflow: visible;
}

.calendar-date:hover {
	border-color: var(--clr-primary);

}

.current-day-highlight {
	background-color: brown;
}

.event {
	background-color: khaki;
}

.future-event {
	background-color: cornsilk;
}

.obligation {
	color: magenta;
	font-size: 60%;
	display: inline;
	width: 5rem;
	height: 0.5rem;
	border: 1px solid #444;
}
.obligation:hover {
	border-color: var(--clr-quaternary);
}

.aRotation {
	font-family: 'Courier New', Courier, monospace;
	color: cyan;
}

.bRotation {
	font-family: 'Courier New', Courier, monospace;
	color: orangered;
}



/* ----- STEP PAY PLAN SPECIFIC ----- */

.step-pay-item {
	margin: 1%;
	/* outline: 0.3rem dotted aliceblue; */
}

#step-pay-grid {
	align-items: baseline;
	justify-items: center;
}

#salary-table {
	background-color: var(--doi-black);
}

:where(#salary-table) :where(tr, th, td) {
	font-size: 1rem;
	border: 1px double var(--doi-red);
	height: 2rem;
	padding: 1rem;
}

.salary-highlight {
	color: var(--doi-yellow-rgb);
	background-color: var(--doi-blue);
}

#salary-values > li {
	list-style-type: none;
}

#salary-table-corner {
	background: var(--doi-black);
}

/* ----- SITE-WIDE BUTTON COMPONENT ----- */

button {
	cursor: pointer;
	user-select: none;
	font-family: var(--doi-font-secondary);
	/* color: var(--clr-primary);
	background: var(--clr-grid-box);
	border-radius: 0.5rem; */
	background: linear-gradient(var(yellow, orange));
	background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
	user-select: none;
	
	border-top-width: 0.5rem;
	border-top-color: grey;
	border-top-style:groove;

	border-left-width: 0.5rem;
	border-left-color: black;
	border-left-style: groove;

	border-bottom-width: 1rem;
	border-bottom-color: black;
	border-bottom-style: groove;

	border-right-width: 1rem;
	border-right-color: grey;
	border-right-style: groove;
}

.button-highlight {
	cursor: pointer;
	position: relative;
	color: var(--doi-red);
	background: var(--doi-blue);
}

.button-depressed {

	position: static;
	color: var(--clr-secondary);
	background: var(--clr-quaternary-body);
	border-top-width: 0.3rem;
	margin-top: 0.3rem;
	border-top-color: grey;
	border-top-style:groove;

	border-left-width: 0.3rem;
	margin-left: 0.3rem;
	border-left-color: black;
	border-left-style: groove;

	border-bottom-width: 0.7rem;
	margin-bottom: 0.3rem;
	border-bottom-color: black;
	border-bottom-style: groove;

	border-right-width: 0.7rem;
	margin-right: 0.3rem;
	border-right-color: grey;
	border-right-style: groove;
}

.button-grid-row > * {
	margin-inline-end: 1rem;
}

/* ----- MEDIA QUERIES ---- */

@media screen and (max-width: 750px) {

:where(#salary-table) :where(tr, th, td) {
	font-size: 0.7rem;
	border: 1px double var(--doi-red);
	height: 2rem;
	padding: 0.5rem;
}

}