/* NORMALIZATION & ROOT VARIABLES */

html {
	height: 100%;
	font-size: 16px;
	/* -ms-scrollbar-base-color:red red red; */
}

* { box-sizing: border-box; margin: 0; padding: 0; border: 0;
	font-size: 100%; font: inherit; vertical-align: baseline; 
	/* FILL BORDER UNDER THIS CONFIG =====> 
	[=====> border: 1rem solid transparent ; */
}

:root {

	--doi-font-primary: Arial, Helvetica, 'Myriad Pro', Verdana;
	--doi-font-secondary: 'Times New Roman', 'Minion Pro', Georgia, TIMES;

	--doi-font-normal: normal;
	--doi-font-italic: italic;
	--doi-font-bold: bold;

	--doi-blue: #004185; 
	--doi-red: #D71921; /* rgb(from var(--doi-red) calc(r + 40) calc(g + 40) b) */
	--doi-yellow: #F3D9D1;
	--doi-white: #FFFFFF;
	--doi-black: #231F20; /* rgb(from var(--doi-black) r g b / 50%); */

	--doi-blue-rgb: rgb(0,65,133);
	--doi-red-rgb: rgb(215,25,33);
	--doi-yellow-rgb: rgb(251,227,90);
	--doi-white-rgb: rgb(255,255,255);
	--doi-black-rgb: rgb(35,31,32);

	--red: 28;
 	--green: 150;
  	--blue: 130;

	--ncco-flourish-gradient: linear-gradient(to bottom right,
					rgb(from var(--doi-red) calc(r + 100) calc(g) calc(b)),
					rgb(from var(--doi-red) calc(r + 30) calc(g) calc(b)),
					var(--doi-yellow-rgb),
					rgb(from var(--doi-blue) calc(r) calc(g) calc(b + 100)),
					rgb(from var(--doi-blue) calc(r) calc(g) calc(b + 150)));
}

body {
	height: 100%;
	font-family: var(--doi-font-primary);
	color: var(--doi-white);
	background-color: var(--doi-blue);
}

a {
	text-decoration: none;
	color: inherit;
}

hr {
	width: 100%;
	height: 1%;
	background: var(--doi-black);
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

ul {
	list-style-type: '✓ ';
	list-style-position: inside;
	text-indent: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--doi-font-primary);
	font-weight: var(--doi-font-bold);
	color: var(--doi-yellow-rgb);
}

#ncco-title {
	user-select: none;
	font-size: 2rem;
	text-shadow: 0rem 0rem var(--doi-red);
	font-weight: var(--doi-font-bold);
	background-image: linear-gradient(
		to top left,
		
		rgb(from var(--doi-blue) calc(r) calc(g) calc(b + 150)),
		rgb(from var(--doi-blue) calc(r) calc(g) calc(b + 100)),
		var(--doi-yellow-rgb),
		rgb(from var(--doi-red) calc(r + 30) calc(g) calc(b)),
		rgb(from var(--doi-red) calc(r + 100) calc(g) calc(b))

	);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-position: 0% 88%;
	border-bottom: 0.3rem solid var(--doi-blue);
	transition: all 0.5s ease-in-out;
}

#ncco-title:hover {
	cursor: pointer;
	text-shadow: 0rem 0rem transparent;

	background-image: linear-gradient(
		to bottom right,
		rgb(from var(--doi-red) calc(r + 100) calc(g) calc(b)),
		rgb(from var(--doi-red) calc(r + 30) calc(g) calc(b)),
		var(--doi-yellow-rgb),
		rgb(from var(--doi-blue) calc(r) calc(g) calc(b + 100)),
		rgb(from var(--doi-blue) calc(r) calc(g) calc(b + 150))
	);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0% 88%;
	border-bottom: 0.3rem solid var(--doi-red);
	transition: all 0.5s ease-in-out;
	
}

#ncco-title::before {
	content: attr(item) "NCCO.us";
}

#nc-flag {
	width: 5rem;	
	height: 3rem;
	border: 0.3rem solid transparent;

}
:nth-child(-n+1 of path):hover {
	animation: linear 1s forwards glistenOn;
}
:nth-child(-n+3 of path):not(:hover) {
	animation: ease-in-out 2s forwards glistenOff;
}
:nth-child(n+4 of path) {
	pointer-events: none;
}

.navigation {
	display: flex;
	flex-direction: column;
	column-gap: 3rem;

	width: 100%;
}

#navigation-top {
	z-index: 101;
	display: flex;
	flex: 1;
	flex-flow: row nowrap;
	align-items: center;
	column-gap: 3rem;

	width: 100%;
	/* box-shadow: 1rem 1rem 1rem 1rem var(--doi-black); */
	background-image: linear-gradient(
		var(--doi-black),
		rgb(from var(--doi-black) calc(r + 3) calc(g + 5) calc(b + 0))
	);
	box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem var(--doi-black);
}

#navigation-bottom {
	z-index: 100;
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	align-items: center;
	justify-content: right;
	column-gap: 3rem;
	background: rgb(from var(--doi-black) calc(r + 5) calc(g + 5) calc(b + 5));

	width: 100%;
	height: 5rem;
	box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(from var(--doi-blue) calc(r + 1) calc(g + 3) calc(b + 2));

}

#navigation-notice {
	flex: 1;
	flex-flow: column nowrap;
	align-content: center;
	justify-content: center;
	display: none;
	z-index: 200;
	top: 0;
	right: 0;
	position: fixed;
	font-style: var(--doi-font-italic);
	color: var(--doi-yellow-rgb);
	height: 3rem;
	background: var(--doi-blue);
	border-left: 0.3rem solid var(--doi-red);
	box-shadow: 0.3rem 0.3rem 0.6rem 0.3rem var(--doi-black);
}

#navigation-notice::before {
	content: attr(item) "Access Denied: Page in Progress!";
}

#notice-bar {
	flex: 1;
	align-content: center;
	justify-content: center;
	position: fixed;
	font-weight: var(--doi-font-bold);
	font-size: 0.9rem;
	text-align: center;
	text-overflow: clip;
	top: 0;
	width: 16rem;
	height: 0.5rem;
	margin-top: 2.1rem;
	border: 0.1rem solid var(--doi-red);
	background-image: var(--ncco-flourish-gradient);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.timeout-bar-animation {
	animation-name: timeoutBar;
	animation-duration: 3s;
	animation-fill-mode: backwards;
	animation-iteration-count: initial;
	animation-timing-function: linear;
}

.navigation-button {
	color: var(--doi-red);
	font-weight: var(--doi-font-bold);
	cursor: pointer;
	user-select: none;
	box-sizing: border-box;
	padding: 0.5rem;
	border-left: 0.5rem solid var(--doi-black);
	border-right: 0.5rem solid var(--doi-black);
	border-top: 0.5rem solid var(--doi-black);
	border-bottom: 0.5rem solid var(--doi-blue);
	background: var(--doi-black);
	/* box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--doi-black); */
	box-shadow: none;
	transition: all 0.1s ease-in;
}

.navigation-button:hover {
	color: var(--doi-yellow-rgb);
	padding: 0.5rem;
	border: 0.5rem solid var(--doi-blue);
	background: var(--doi-black);
	transition: all 0.1s ease-in;
}

.page-col-grid {
	display: flex;
	flex: auto; /* === flex-grow & flex-shrink & flex-basis */
	flex-flow: column nowrap; /* === flex-direction & flex-wrap */
	/* outline: 0.1rem dotted lightsalmon; */
}

.page-row-grid {
	display: flex;
	flex: auto; /* === flex-grow & flex-shrink & flex-basis */
	flex-flow: row wrap; /* === flex-direction & flex-wrap */
	justify-content: left;
	align-items: left;
	/* outline: 0.1rem dotted lightgreen; */
}

.page-item {
	flex: 1;
	background-color: rgb(from var(--doi-black) r g b / 50%);
	/* min-width: 15rem;
	min-height: 10rem; */
	border: 0.5rem double var(--doi-red-rgb);
	/* outline: 0.2rem solid var(--doi-red-rgb); */
	margin: 3rem;
	padding: 1rem;
}

.page-item:not(:hover) {
	transition: border-color 0.3s ease-out;
}

.page-button-like {
	border-color: blueviolet;
	transition: border-color 0.6s ease-in;
	animation-name: groovymove;
	animation-duration: 0.6s;
	animation-iteration-count: initial;
}

@keyframes groovymove {
	33% {
		outline-width: 0.2rem;
		/* background-color: rgb(from var(--doi-black) r g b / 55%); */

	}
	66% {
		outline-width: 0.1rem;
		/* background-color: rgb(from var(--doi-black) r g b / 60%); */

	}
	100% {
		outline-width: 0.2rem;
		/* background-color: rgb(from var(--doi-black) r g b / 65%); */

		/* text-shadow: -5px -2px 0px rgb(112, 12, 170); */
	}	
}
@keyframes sectionsizer { 
	from {
		background-size: 100% 10%;
		background-position: 0% 100%;
	}
	to {
		background-size: 0% 0%;
		background-position: 100% 100%;
	}
}
@keyframes glistenOn {
	0% {
		fill-opacity: 1;
		fill: var(--doi-blue);
		
	}
	100% {
		fill-opacity: 0.2;
		fill: var(--doi-red);
	}
}
@keyframes glistenOff {
	0% {
		fill-opacity: 0.2;
		fill: var(--doi-red);
	}
	100% {

		fill-opacity: 1;
	}
}
@keyframes timeoutBar {
	0% {
		background-size: 0% 100%;
	} 
	25% {
		background-size: 25% 100%;
	}
	50% {
		background-size: 50% 100%;
	}
	75% {
		background-size: 75% 100%;
	}
	100% {
		background-size: 100% 100%;
	}
}

footer {
	flex: 1;
	padding: 5%;
	z-index: 75;
	bottom: 0;
	width: 100%;
	background-color: var(--doi-black);
	font-style: var(--doi-font-italic);
}

#footer-info {
	flex: 0.7;
}

#latest-update {
	color: rgb(from var(--doi-blue) calc(r + 30) calc(g + 50) calc(b + 30));
}

#footer-signature {
	flex: 0.3;
	/* width: 10rem;
	height: 10rem; */
	opacity: 0.1;
}

#footer-signature > img {
	width: 100%;
	height: 100%;
}

#footer-disclaimer {
	font-style: var(--doi-font-italic);
}

/* ---------- BIWWEEKLY ROTATION FIELD VALUES ---------- */

.calendar-month {
	display: inline-block;
	align-items: left;
	font-size: 0.7rem;
	width: 10rem;
	height: 10rem;
	/* border: 0.1rem solid var(--doi-red); */
	overflow: hidden;
}

.these-months {
	color: var(--doi-yellow-rgb);
	font-style: var(--doi-font-italic);
	font-weight: var(--doi-font-bold);
}

.calendar-date {
	display: inline-flex;
	align-items: center;
	font-size: 0.7rem;
	width: 1.5rem;
	height: 1.2rem;
	padding-top: 0.2rem;
	border: 0.1rem solid var(--doi-black);
	color: var(--doi-white);
}

.calendar-date:hover {
	border-color: var(--doi-red);
}

.current-date {
	background-image: linear-gradient(
		to bottom right,
		var(--doi-red),
		var(--doi-yellow)
	);
}

.current-date:hover {
	background-image: linear-gradient(
		to bottom right,
		var(--doi-yellow),
		var(--doi-red)
	);
	transition: background-image 1s ease-in-out;
}

.empty-span {
	display: inline-flex;
	align-items: center;
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.7rem;
	width: 1.5rem;
	height: 1.2rem;
	padding-top: 0.2rem;
	border: 0.1rem solid transparent;
	color: transparent;
	background: transparent;
}

.day-span {
	display: inline-block;
	font-size: 0.7rem;
	width: 2rem;
	height: 1rem;
	margin-left: 1.5rem;
	/* padding: 0.2rem; */
	border-right: 0.1rem solid var(--doi-black);
	color: var(--doi-yellow-rgb);
	user-select: none;
}

.aRotation {
	font-family: 'Courier New', Courier, monospace;
}
.aRotation::after {
	color: cyan;
	content: "A";
}

.bRotation {
	font-family: 'Courier New', Courier, monospace;
	/* color: orangered;
	content: "B"; */
}
.bRotation::after {
	color: orangered;
	content: "B";
}



/* ----- STEP PAY PLAN SPECIFIC ----- */

.step-pay-item {
	margin: 1%;
	/* outline: 0.3rem dotted aliceblue; */
}

#step-pay-grid {
	align-items: baseline;
	justify-items: center;
}

#salary-table {
	background-color: var(--doi-black);
}

:where(#salary-table) :where(tr, th, td) {
	font-size: 1rem;
	border: 1px double var(--doi-red);
	height: 2rem;
	padding: 1rem;
}

.salary-highlight {
	color: var(--doi-yellow-rgb);
	background-color: var(--doi-blue);
}

#salary-values > li {
	list-style-type: none;
}

#salary-table-corner {
	background: var(--doi-black);
}

/* ----- SITE-WIDE BUTTON COMPONENT ----- */

button {
	cursor: pointer;
	user-select: none;
	box-sizing: border-box;
	padding: 0.5rem;
	border: 0.5rem solid transparent;
	box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--doi-black);
	transition: all 0.1s ease-in;
}

.button-highlight {
	position: sticky;
	padding: 0.5rem;
	border: 0.5rem solid var(--doi-red);
	color: var(--doi-red);
	/* font-weight: var(--doi-font-bold); */
	background: var(--doi-blue);
}

.button-depressed {
	color: rgb(from var(--doi-red) r g b / 20%);
	/* color: var(--doi-yellow-rgb); */
	background: rgb(from var(--doi-blue) r g b / 20%);
	/* border: 0.5rem solid rgb(from var(--doi-yellow) r g b / 30%); */
	box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem transparent;

}

.button-toggled {
	color: var(--doi-yellow);
	padding: 0.5rem;
	border: 0.5rem solid rgb(from var(--doi-black) r g b / 30%);
	background: rgb(from var(--doi-blue) r g b / 50%);
	box-shadow: 0.2rem 0.2rem var(--doi-blue) inset,
				0.3rem 0.3rem var(--doi-red) inset,
				0.2rem -0.2rem var(--doi-blue) inset,
				0.3rem -0.3rem var(--doi-red) inset,
				-0.2rem 0.2rem var(--doi-blue) inset,
				-0.3rem 0.3rem var(--doi-red) inset,
				-0.2rem -0.2rem var(--doi-blue) inset;
}

.button-toggled:hover {
	color: var(--doi-yellow-rgb);
	padding: 0.8rem;
	border: 0.2rem solid transparent;
	transition: all 0.1s ease-in;
}

.button-grid-row {
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;
	column-gap: 2rem;
}

.button-grid-col {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 1rem;
	box-sizing: border-box;
	padding: 0.5rem;
	border: 0.5rem solid transparent;
	box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--doi-black);
}

.button-grid-col > span {
	flex: 1;
	text-align: center;
}
.button-grid-col > button {
	flex: 0.5;
}

:where(.button-grid-col) :where(.button-depressed) {
	background: rgb(from var(--doi-blue) r g b / 20%);
	/* border: 0.5rem solid rgb(from var(--doi-yellow) r g b / 30%); */
	box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem transparent;
}

/* ----- MEDIA QUERIES ---- */

@media screen and (max-width: 750px) {

:where(#salary-table) :where(tr, th, td) {
	font-size: 0.7rem;
	border: 1px double var(--doi-red);
	height: 2rem;
	padding: 0.5rem;
}

}