/* NORMALIZATION & ROOT VARIABLES */

html {
	height: 100%;
	font-size: 16px;
}

* { box-sizing: border-box; margin: 0; padding: 0; border: 0;
	font-size: 100%; font: inherit; vertical-align: baseline; 
	/* FILL BORDER UNDER THIS CONFIG =====> 
	[=====> border: 1rem solid transparent ; */
}

:root {

	--doi-font-primary: Arial, Helvetica, 'Myriad Pro', Verdana;
	--doi-font-secondary: 'Times New Roman', 'Minion Pro', Georgia, TIMES;

	--doi-font-normal: normal;
	--doi-font-italic: italic;
	--doi-font-bold: bold;

	--doi-blue: #004185; 
	--doi-red: #D71921; /* rgb(from var(--doi-red) calc(r + 40) calc(g + 40) b) */
	--doi-yellow: #F3D9D1;
	--doi-white: #FFFFFF;
	--doi-black: #231F20; /* rgb(from var(--doi-black) r g b / 50%); */

	--doi-blue-rgb: rgb(0,65,133);
	--doi-red-rgb: rgb(215,25,33);
	--doi-yellow-rgb: rgb(251,227,90);
	--doi-white-rgb: rgb(255,255,255);
	--doi-black-rgb: rgb(35,31,32);

	--red: 28;
 	--green: 150;
  	--blue: 130;

  	--accessible-color: calc((((
			(var(--red) * 299) +
			(var(--green) * 587) +
			(var(--blue) * 114)
				) / 1000
			) - 128
		) * -1000
	);
}


body {
	height: 100%;
	font-family: var(--doi-font-primary);
	color: var(--doi-white);
	background-color: var(--doi-blue);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--doi-font-primary);
	font-weight: var(--doi-font-bold);
	color: var(--doi-yellow-rgb);
}

#ncco-title {
	font-size: 2rem;
	font-weight: var(--doi-font-normal);
	color: var(--doi-red);
}
#ncco-title-description {
	font-style: var(--doi-font-italic);
	font-size: 1rem;
	/* border: 0.1rem dotted var(--doi-red); */
	flex: 1;
	align-content: right;
	justify-content: right;
	text-align: right;
}
#ncco-title-description::after {
	content: normal "\00A0" ;
}
#nc-flag {
	width: 5rem;	
	height: 3rem;
}

.navigation {
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 3rem;

	width: 100%;
	/* background-color: var(--doi-black); */
	background-image: linear-gradient(
		var(--doi-black),
		rgb(from var(--doi-black) calc(r + 3) calc(g + 5) b)
	);
}

.navigation-link {
	background-color: rgb(from var(--doi-black) r g b / 50%);
	border: 0.5rem double var(--doi-red-rgb);
	outline: 0.2rem solid var(--doi-red-rgb);

	/* background-clip: transparent; */
}


.page-col-grid {
	display: flex;
	flex: auto; /* === flex-grow & flex-shrink & flex-basis */
	flex-flow: column nowrap; /* === flex-direction & flex-wrap */
	outline: 0.1rem dotted lightsalmon;
}

.page-row-grid {
	display: flex;
	flex: auto; /* === flex-grow & flex-shrink & flex-basis */
	flex-flow: row wrap; /* === flex-direction & flex-wrap */
	outline: 0.1rem dotted lightgreen;
}

.page-item {
	flex: 1;
	background-color: rgb(from var(--doi-black) r g b / 50%);
	min-width: 15rem;
	min-height: 10rem;
	border: 0.5rem double var(--doi-red-rgb);
	outline: 0.2rem solid var(--doi-red-rgb);
	margin: 1rem;
	padding: 1rem;
}

.page-item:hover, .navigation-link:hover {
	border-color: var(--doi-yellow-rgb);
	transition: border-color 0.6s ease-in;
	animation-name: groovymove;
	animation-duration: 0.3s;
	animation-iteration-count: initial;
	background-color: rgb(from var(--doi-black) r g b / 65%);

}

.page-item:not(:hover) {
	transition: border-color 0.3s ease-out;
}

.page-button-like {
	border-color: blueviolet;
	transition: border-color 0.6s ease-in;
	animation-name: groovymove;
	animation-duration: 0.6s;
	animation-iteration-count: initial;
}

@keyframes groovymove {
	33% {
		outline-width: 0.2rem;
		/* background-color: rgb(from var(--doi-black) r g b / 55%); */

	}
	66% {
		outline-width: 0.1rem;
		/* background-color: rgb(from var(--doi-black) r g b / 60%); */

	}
	100% {
		outline-width: 0.2rem;
		/* background-color: rgb(from var(--doi-black) r g b / 65%); */

		/* text-shadow: -5px -2px 0px rgb(112, 12, 170); */
	}	
}

@keyframes sectionsizer { 
	from {
		background-size: 100% 10%;
		background-position: 0% 100%;
	}
	to {
		background-size: 0% 0%;
		background-position: 100% 100%;
	}
}

footer {
	z-index: 75;
	bottom: 0;
	position: absolute;

	width: 100%;
	background-color: var(--doi-black);
	font-family: var(--doi-font-secondary);
	font-style: var(--doi-font-italic);
}


