<main>

	<div class="page-item">
				<div id="back-pay" class="grid-col-1-1">
					<h2 class="marker">Back-Pay Calculations</h2><span></span>
					<div>Start Date:</li> <input id="current-salary" placeholder="$[input]" class="money"></div>
					<!-- <li>Base-Rate Monthly:</li> <span id="monthly-salary" class="money step-pay-calculation"></span>
					<li>Base-Rate Hourly:</li> <span id="hourly-salary" class="money step-pay-calculation"></span>
					<li>Base-Rate 11HR Gap:</li> <span id="gap-pay" class="money step-pay-calculation"></span>
					<li>Differential Overtime:</li> <span id="overtime-diff" class="money step-pay-calculation"></span>
					<li>Differential Nightly:</li><span id="night-diff" class="money step-pay-calculation"></span>
					<li>Differential Weekend:</li><span id="weekend-diff" class="money step-pay-calculation"></span>
					<li>Differential Holiday:</li><span id="holiday-diff" class="money step-pay-calculation"></span> -->
				</div>
	</div>
	
</main>

<script class="component-script" defer>
</script>