<main>
	<!-- STEP PAY PLAN -->
	<div>

		<div>
			<hr class="hr-cmbr-dark-gradient">
		</div>
<hr class="hr-cmbr-dark-gradient">
		<div class=" grid-col-1-1">
				<ul class="salary-values">
					<!-- <h2 class="h2-marker">Rate Calculations</h2><br> -->
					<li>Base-Rate Annual Salary: <span id="current-salary" class="money step-pay-calculation"></span></li>
					<li>Base-Rate Monthly: <span id="monthly-salary" class="money step-pay-calculation"></span></li>
					<li>Base-Rate Hourly: <span id="hourly-salary" class="money step-pay-calculation"></span></li>
					<li>Base-Rate 12.25HR Shift <span id="shift-pay" class="money step-pay-calculation"></span></li>
					<li>Base-Rate 11HR Gap: <span id="gap-pay" class="money step-pay-calculation"></span></li>
				</ul>
				<ul class="salary-values">
					<li>Differential Overtime: <span id="overtime-diff" class="money step-pay-calculation"></span></li>
					<li>Overtime Hourly: <span id="overtime-hourly" class="money step-pay-calculation"></span></li>
					<li>Differential Nightly:<span id="night-diff" class="money step-pay-calculation"></span></li>
					<li>Nightly Hourly: <span id="nightly-hourly" class="money step-pay-calculation"></span></li>
					<li>Differential Weekend:<span id="weekend-diff" class="money step-pay-calculation"></span></li>
					<li>Weekend Hourly: <span id="weekend-hourly" class="money step-pay-calculation"></span></li>
					<li>Differential Holiday:<span id="holiday-diff" class="money step-pay-calculation"></span></li>
					<li>Holiday Hourly:<span id="holiday-hourly" class="money step-pay-calculation"></span></li>
				</ul>

			</div>

		<div>
			<div id="salary-table-div">

				<div id="salary-table" class="flex-table">
					<div class="flex-table-header-row grid-col-8x-1">
						<div id="salary-table-corner" class="flex-table-side-header"></div>
						<div id="step-0" class="flex-table-header"><span>Step 0</span></div>
						<div id="step-1" class="flex-table-header">Step 1</div>
						<div id="step-2" class="flex-table-header">Step 2</div>
						<div id="step-3" class="flex-table-header">Step 3</div>
						<div id="step-4" class="flex-table-header">Step 4</div>
						<div id="step-5" class="flex-table-header">Step 5</div>
						<div id="step-6" class="flex-table-header">Step 6</div>
					</div>
					<div class="flex-table-body">
						<div class="flex-table-row grid-col-8x-1">
							<div id="co1" class="flex-table-side-header">COI</div>
							<div id="co1-0" class="money"> </div>
							<div id="co1-1" class="money"></div>
							<div id="co1-2" class="money"></div>
							<div id="co1-3" class="money"></div>
							<div id="co1-4" class="money"></div>
							<div id="co1-5" class="money"></div>
							<div id="co1-6" class="money"></div>
						</div>
						<div class="flex-table-row grid-col-8x-1">
							<div class="flex-table-side-header">COII</div>
							<div id="co2-0" class="money"></div>
							<div id="co2-1" class="money"></div>
							<div id="co2-2" class="money"></div>
							<div id="co2-3" class="money"></div>
							<div id="co2-4" class="money"></div>
							<div id="co2-5" class="money"></div>
							<div id="co2-6" class="money"></div>
						</div>
						<div class="flex-table-row grid-col-8x-1">
							<div class="flex-table-side-header">COIII</div>
							<div id="co3-0" class="money"></div>
							<div id="co3-1" class="money"></div>
							<div id="co3-2" class="money"></div>
							<div id="co3-3" class="money"></div>
							<div id="co3-4" class="money"></div>
							<div id="co3-5" class="money"></div>
							<div id="co3-6" class="money"></div>
						</div>
					</div>
				</div>

		</div>
			
		</div>
		<div class="flex-table">

			
			<div class="grid-col-3-1-1">
				<div class="step-pay-param">
					<p><i>...a Correctional Officer </i><span id="custody-level">_</span></p>
				</div>
				<button class="trigger-box step-pay-plan-button" value="decrease-custody-level">Decrease</button>
				<button class="trigger-box step-pay-plan-button" value="increase-custody-level">Increase</button>
			</div>

			<hr class="hr-cmbr-dark-gradient">
			<div class="grid-col-3-1-1">
				<div class="step-pay-param">
					<p><i>with </i><span id="years-experience">_</span><i> Years of Experience...</i></p>
				</div>
				<button class="trigger-box step-pay-plan-button" value="decrease-years-experience">Decrease</button>
				<button class="trigger-box step-pay-plan-button" value="increase-years-experience">Increase</button>
			</div>
			<hr class="hr-cmbr-dark-gradient">
			<div class="grid-col-3-1-1">
				<div class="step-pay-param">
					<p><i>...during the Fiscal Year </i><span id="fiscal-year">_</span></p>
				</div>
				<button class="trigger-box step-pay-plan-button" value="previous-fiscal-year">Previous</button>
				<button class="trigger-box step-pay-plan-button" value="next-fiscal-year">Next</button>
			</div>

		</div>
	</div>

</main>

<script class="component-script" defer>

	// ---------- STEP PAY PLAN MODULE ---------- //
	// 160 Sick Hours == 1 Month Service

	function nextFiscalYear() {
		fiscalYear++;
		// document.getElementById("fiscal-year").innerHTML = `${fiscalYear}-${fiscalYear + 1}`;
		currentSchedule = salarySchedules[fiscalYear - 2020];
		removeHighlightedSalary();
		populateSalaryTable();
		calculateStep();
	}
	function previousFiscalYear() {
		fiscalYear--;
		// document.getElementById("fiscal-year").innerHTML = `${fiscalYear}-${fiscalYear + 1}`;
		currentSchedule = salarySchedules[fiscalYear - 2020];
		removeHighlightedSalary();
		populateSalaryTable();
		calculateStep();
	}
	function calculateStep() {

		currentSalary = currentSchedule[custodyLevel - 1][yearsExperience];
		document.getElementById("current-salary").innerHTML = currentSalary;
		document.getElementById("monthly-salary").innerHTML = (currentSalary / 12).toFixed(2);
		let currentHourlyRate = currentSalary / 52 / 40;
		document.getElementById("hourly-salary").innerHTML = currentHourlyRate.toFixed(2);
		document.getElementById("gap-pay").innerHTML = (currentHourlyRate * 11).toFixed(2);
		document.getElementById("overtime-diff").innerHTML = ((currentHourlyRate * 1.5) - currentHourlyRate).toFixed(2);
		document.getElementById("night-diff").innerHTML = (currentHourlyRate / 10).toFixed(2);
		document.getElementById("weekend-diff").innerHTML = (currentHourlyRate / 10).toFixed(2);
		document.getElementById("holiday-diff").innerHTML = ((currentHourlyRate * 1.75) - currentHourlyRate).toFixed(2);

		document.getElementById("custody-level").innerHTML = ("I".repeat(custodyLevel));
		document.getElementById("years-experience").innerHTML = yearsExperience;
		highlightedSalary = document.getElementById(`co${custodyLevel}-${yearsExperience}`);
		highlightedSalary.classList.add("salary-highlight");
		document.getElementById("fiscal-year").innerHTML = `${fiscalYear}-${fiscalYear + 1}`;

		return [custodyLevel, yearsExperience, fiscalYear];
	}
	function highlightSalary(level, step) {
		document.getElementById(`co${level + 1}-${step}`).classList.add("salary-highlight");
	}
	function removeHighlightedSalary() {
		highlightedSalary.classList.remove("salary-highlight");
	}
	function increaseCustodyLevel() {
		if (custodyLevel >= 1 && custodyLevel < 3) {
			custodyLevel += 1;
			removeHighlightedSalary();
			calculateStep();
		} 
	}
	function decreaseCustodyLevel() {
		if (custodyLevel <= 3 && custodyLevel > 1) {
			custodyLevel -= 1;
			removeHighlightedSalary();
			calculateStep();
		}
	}
	function increaseYearsExperience() {
		if (yearsExperience >= 0 && yearsExperience < 6) {
			yearsExperience += 1;
			removeHighlightedSalary();
			calculateStep();
		}
	}
	function decreaseYearsExperience() {
		if (yearsExperience > 0 && yearsExperience <= 6) {
			yearsExperience -= 1;
			removeHighlightedSalary();
			calculateStep();
		}
	}
	function enableStepPayPlanButtons() {
		document.querySelectorAll(".step-pay-plan-button").forEach(button => {
			button.id = button.value;
			button.onclick = () => {
				CMBRutil.buttonOnClick(button);
				switch (button.value) {
					case ("increase-custody-level"):
						increaseCustodyLevel();
						break;
					case ("decrease-custody-level"):
						decreaseCustodyLevel();
						break;
					case ("increase-years-experience"):
						increaseYearsExperience();
						break;
					case ("decrease-years-experience"):
						decreaseYearsExperience();
						break;
					case ("next-fiscal-year"):
						nextFiscalYear();
						break;
					case ("previous-fiscal-year"):
						previousFiscalYear();
						break;
					default:
						console.log("Default Switch Triggered: enableStepPayPlanButtons()");
						break;
				};
				onUpdateValue();
			};

			button.onmouseenter = () => {
				if (!button.disabled) {
					CMBRutil.buttonOnMouseEnter(button);
				}
			}
			button.onmouseleave = () => {
				CMBRutil.buttonOnMouseLeave(button);
			}
		});
	}
	function populateSalaryTable() {
		for (i = 0; i < currentSchedule.length; i++) {
			for (j = 0; j < currentSchedule[i].length; j++) {
				document.getElementById(`co${i + 1}-${j}`).innerText = currentSchedule[i][j];
				// if (currentSchedule[i][j] === currentSalary) {
				// 	document.getElementById(`co${i + 1}-${j}`).classList.add("salary-highlight");
				// }
			}
		}
	}
	function onUpdateValue() {
		document.querySelectorAll(".step-pay-calculation").forEach(calc => {
			calc.classList.add("value-update");
			setTimeout(() => {
				calc.classList.remove("value-update");
			}, 1000);
		});
		
		document.querySelectorAll(".step-pay-plan-button").forEach(button => {
			button.disabled = false;
				switch (button.value) {
					case ("increase-custody-level"):
						custodyLevel === 3 ? button.disabled = true : button.disabled = false;
						break;
					case ("decrease-custody-level"):
						custodyLevel === 1 ? button.disabled = true : button.disabled = false;
						break;
					case ("increase-years-experience"):
						yearsExperience === 6 ? button.disabled = true : button.disabled = false;
						break;
					case ("decrease-years-experience"):
						yearsExperience === 0 ? button.disabled = true : button.disabled = false;
						break;
					case ("next-fiscal-year"):
						fiscalYear === 2026 ? button.disabled = true : button.disabled = false;
						break;
					case ("previous-fiscal-year"):
						fiscalYear === 2020 ? button.disabled = true : button.disabled = false;
						break;
					default:
						console.log("Default Switch Triggered: onUpdateValue()");
					break;
				}
		});
	}



	(async () => {

		populateSalaryTable();
		calculateStep();
		enableStepPayPlanButtons();
		onUpdateValue();

	})();

</script>