<main>
	<div class="grid-col-1-1">
		<div id="upper-left-welcome-frame" class="welcome-frame">

		</div>

		<div id="upper-right-welcome-frame" class="welcome-frame">

		</div>
	</div>
	<div id="central-welcome-frame" class="page-item">
		<h1 id="welcome">Welcome</h1>
		<div id="welcome-text">
			<p>At this site may find various resources for your work as a North Carolina Correctional Officer.</p>
			<p>Included are calculators and handy references that may be of use.</p>
		</div><br>
	</div>
	<div class="grid-col-1-1">
		<div id="bottom-left-welcome-frame" class="welcome-frame">

		</div>

		<div id="bottom-right-welcome-frame" class="welcome-frame">

		</div>

	</div>

</main>

<!-- <script class="component-script" defer>
	
</script> -->